*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
html,body{
	display: grid;
	height: 100%;
	background-color: #aaa;
	place-items:center;
}
.container{
	height: 100px;
	width: 360px;
	background-color: red;
	border-radius: 5px;
}